.header {
	padding: 16px 0;
	background-color: $white;
	box-shadow: 0px 4px 20px rgba(217, 217, 217, 0.25);

	&__wrapper {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	&__nav {
		display: flex;
	}

	&__list {
		display: flex;
		align-items: center;

		&_item {
			margin-right: 72px;
			position: relative;
			z-index: 1;

			.header__submenu {
				display: flex;
				opacity: 0;
				visibility: hidden;
				flex-direction: column;
				position: absolute;
				left: 0;
				top: 0;
				width: 100%;
				padding-top: 30px;
				background-color: $white;
				z-index: -1;
				transition: opacity ease $tr,
						visibility ease $tr;

				li {
					width: 100%;
					cursor: pointer;
					transition: opacity ease $tr;

					&:hover {
						opacity: $op;
					}
				}
			}

			&:hover {
				opacity: 1;
				color: $accent;

				.header__submenu {
					opacity: 1;
					visibility: visible;
				}

				.check {
					transform: rotate(180deg);
				}
			}

			a {
				display: flex;
				align-items: center;
				font-family: $ff;
				font-style: normal;
				font-weight: $fw-medium;
				font-size: 18px;
				line-height: 22px;
				letter-spacing: 0.01em;
				color: $black;
				transition: color ease $tr;

				picture {
					margin-left: 8px;
				}

				.check {
					transition: transform ease $tr;
				}

				&:hover {
					opacity: 1;
					color: $accent;

					.header__submenu {
						opacity: 1;
						visibility: visible;
					}
				}
			}

			&:last-child {
				margin-right: 0;
			}
		}
	}

	&__buttons {
		.header__link {
			font-family: $ff;
			font-style: normal;
			font-weight: $fw-semibold;
			font-size: 16px;
			line-height: 19px;
			color: $accent;
			margin-right: 24px;
		}
	}
}